
.toolhub__herosection {
    display: flex;
    margin-top: 5rem;
    padding-left: 7vh;
    padding-right: 7vh;

}

.toolhub__herosection-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.toolhub__herosection-content h1 {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: 48px;
    font-family: var(--font-family);

}


.toolhub__herosection-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    margin-top: 2rem;
    margin-right: 5rem;

    color: #FFFFFF;
}

.toolhub__herosection-image {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolhub__herosection-image img {
    width: auto;
    height: auto;
    animation: bounce 1.2s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.1, 0.01, 0.5, .5);
    animation-iteration-count: infinite;
    filter: drop-shadow(-28px 19px 30px rgba(0, 0, 0, 0.25));
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 20px, 0);
    }
}


/* tasks section */
.toolhub__tasksection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 23vh;
    padding-bottom: 15vh;

}
.toolhub__tasksection-tasktool{
    width: 150vh;
    background: rgba(249, 201, 252, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 6vh;
    padding-left: 2vh;
    justify-content: space-evenly;
}
.toolhub__tasksection-tasktool:hover {
    -webkit-box-shadow: 0px 5px 62px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 62px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 62px 7px rgba(0,0,0,0.75);
}
.toolhub__tasksection-heading {
    display: flex;
    padding-top: 3vh;
}
.toolhub__tasksection-heading h1{
    flex: 1;
    font-family: var(--font-family);
    color: #FFFFFF;
}
.toolhub__tasksection-heading p {
    font-family: var(--font-family);
    flex: 1;
    color: #FFFFFF;
}


.line{
    width: 8vh;
    height: 1vh;    
    background: #E7657C;
    margin-left: 1vh;
}
.searchbar{
    width: 100%;

}
.searchbar input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    border-radius: 5vh;
    border: none;
    padding: 2vh;
    
    width: 30vh;
    height: 3vh;
    
}
.searchbar input:focus {
    outline: none;
}

.toolhub__tasksection-toolinfo {
    display: flex;
}
.toolhub__tasksection-toolinfo p {
    color: #FFFFFF;
    font-family: var(--font-family);
    margin-top: 7vh;
    
}
.toolinfo {
    flex: 1;
}
.moreinfo{
    flex: 1;
}
.toolinfo p {
    font-family: var(--font-family);
    font-size: 3vh;
}



.toolhub__tasksection-submit {
    display: flex;
    padding-top: 5vh;
    align-items: center;
}
.toolhub__tasksection-submit input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 5vh;
    border: none;
    padding: 3.5vh;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    
    width: 45vh;
    height: 6vh;
    
}
.toolhub__tasksection-submit input:focus {
    outline: none;
}
.toolhub__tasksection-submit button {
    width: 10vh;
    height: 7vh;
    font-size: 2vh;
    border: none;
    color: white;
    font-family: var(--font-family);
    
    background: #E44461;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    cursor: pointer;
}
.toolhub__tasksection-submit a {
    font-family: var(--font-family);
    text-decoration: underline;
    padding-left: 1vh;
}



/***LeaderBoard Styling****/

.toolhub__leaderboard{
    display: flex;
    flex-direction: column;
}

.toolhub__leaderboard-header {
    width: 80%;
}
.toolhub__leaderboard-header h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    margin-left: 3rem;
    margin-top: 3rem;

    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.toolhub__leaderboard-details_container {
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 5vh;
    padding-top: 5vh;

}



.toolhub__leaderboard-user_container {
    background: #ffffff;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    height: 60vh;
    width: 35vw;
    padding-left: 2vh;
    
}


.toolhub__leaderboard-user-id p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #041131;
    margin-top: 5vh;

}

.toolhub__leaderboard-rankings_container {
    display: flex;
    width: 40vw;
    height: 80vh;
    background: #FFFFFF;
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    flex-direction: column;
    padding: 2vh;
}
.toolhub__leaderboard-rankings_container-wrap {
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
.toolhub__leaderboard-rankings_pagination {
    flex: 0.5;
    display: flex;
    align-items: center;
    padding-right: 2vh;
    
}
.toolhub__leaderboard-rankings_pagination p{
    flex: 1;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    margin-left: 2vh;
    /* identical to box height, or 150% */
    
    
    color: #000000;
}
.toolhub__leaderboard-rankings_pagination button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-left: 1rem;
    
    width: 17vh;
    height: 4.5vh;
    cursor: pointer;
    
    background: #041131;
    border-radius: 32px;
    
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vh;
    text-align: center;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    
    color: #FFFFFF;
    

}

.toolhub__leaderboard-rankings_rank h2, 
.toolhub__leaderboard-rankings_Userid h2,
.toolhub__leaderboard-rankings_completed h2 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 3.5vh;
    line-height: 5vh;
    color: #142e6e;
}
.toolhub__leaderboard-rankings_rank p, 
.toolhub__leaderboard-rankings_Userid p,
.toolhub__leaderboard-rankings_completed p {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 2.5vh;
    color: #041131;
    margin-top: 3rem;
}

.toolhub__leaderboard-rankings_rank {
    flex: 0.5;
    text-align: center;
}
.toolhub__leaderboard-rankings_Userid{
    flex: 1;
    text-align: center;
}
.toolhub__leaderboard-rankings_completed {
    flex: 1;
    text-align: center;
}



/** Dashboard Section **/



.toolhub__dashboard {
    display: flex;
    flex-flow: column wrap;
}
.toolhub__dashboard-header {
    text-align: left;
    margin-bottom: 1rem;
    width: 100%;
    
}

.toolhub__dashboard-header h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    margin: 5rem;    
    
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.metric-container{
    display: flex;
    justify-content: space-evenly;
    flex:0.9;
}
.toolhub__dashboard-toolsmetric_container-outerrim {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.piechartcontainer {
    display: flex;
    height: 53vh;
    width: 25vw;
}

.toolhub__dashboard-toolsmetric_container {
    width: 19vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    background: #F1EDEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
.toolhub__dashboard-toolsmetric_container h1 {
    font-size: 2.5vh;
    font-family: var(--font-family);
}

.toolhub__dashboard-toolsmetric_container p {
    font-size: 3.9vh;
    font-family: var(--font-family);
}

.toolhub__dashboard-missingtools_frequency_total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.toolhub__dashboard-missingtools_frequency-container {
    width: 90vw;
    height: 65vh;
    padding: 20px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

.toolhub__dashboard-missingtools_frequency-container h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 80% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-bottom: 2vh;
    
    color: #000000;
    
    
}
@media screen and (max-width:1050px) {
    .toolhub__herosection-content h1 {
        font-size: 42px;
    }
    .toolhub__herosection-content p {
        font-size: 15px;
    }
    .toolhub__tasksection-heading h1 {
        font-size: 3.5vh ;
    }
    .toolhub__tasksection-heading p {
        font-size: 2vh;
    }

    .toolhub__tasksection-toolinfo p {
        font-size: 2vh;
    }
    .toolinfo p {
        font-family: var(--font-family);
        font-size: 2.7vh;
    }
    .toolhub__tasksection-submit input {
        width: 35vh;
        height: 6vh;
    }
    
    .toolhub__herosection-image img {
        max-width: 25vh;
    }
    .toolhub__dashboard-header h1{
        font-size: 42px;
    }
    .toolhub__dashboard-toolsmetric_container {
        width: 15vw;
        height: 20vh;
        border-radius: 2vh;
    }
    .toolhub__dashboard-toolsmetric_container h1 {
        font-size: 2vh;
        font-weight: 200;
        
    }
    
    .toolhub__dashboard-toolsmetric_container p {
        font-size: 3.9vh;
        font-family: var(--font-family);
    }
    .piechartcontainer {
        width: 30%;
        height: 40vh;
    }
    .toolhub__leaderboard-rankings_rank h2, 
    .toolhub__leaderboard-rankings_Userid h2,
    .toolhub__leaderboard-rankings_completed h2 {
        font-weight: 700;
        font-size: 2.5vh;

    }
    .toolhub__leaderboard-rankings_rank p, 
    .toolhub__leaderboard-rankings_Userid p,
    .toolhub__leaderboard-rankings_completed p {
        font-weight: 800;
        font-size: 1.5vh;
    }
    
    .toolhub__leaderboard-rankings_pagination p{
        font-weight: 400;
        font-size: 1.5vh;
        margin-left: 2vh;
        /* identical to box height, or 150% */
        
        
        color: #000000;
    }
    .toolhub__leaderboard-rankings_pagination button{        
        width: 15vh;
        height: 3.5vh;
        font-size: 1.5vh;
        margin-right: 2vh;
    
    }
    .toolhub__leaderboard-user-id p {
        font-size: 2.8vh;
    }

}

@media screen and (max-width: 790px) {
    .toolhub__herosection-content h1 {
        font-size: 38px;
    }
    .toolhub__herosection-content p {
        font-size: 12px;
    }
  
}

@media screen and (max-width: 561px) {
    .toolhub__herosection-content h1 {
        font-size: 30px;
        padding-left: 2vh;
    }
    .toolhub__herosection-content p {
        font-size: 15px;
        margin: 0;
        margin-top: 1vh;
        padding-left: 2vh;
    }
    .toolhub__herosection {
        flex-direction: column;
        padding: 0;
    }

    .toolhub__tasksection-heading h1 {
        font-size: 3vh;
    }
    .toolhub__tasksection-heading p {
        font-size: 1.8vh;
    }
    .toolhub__tasksection-toolinfo p {
        font-size: 1.8vh;
    }
    .line {
        display: none;
    }
    .toolhub__tasksection-submit input {
        width: 25vh;
        height: 6vh;
    }
    .searchbar input{
        width: 20vh;
    }
    .toolhub__dashboard-header{
        padding-left: 5vh;
        margin: 0;
        text-align: left;
    }
    .toolhub__dashboard-header h1{
        font-size: 35px;
        margin: 0;
    }
    .toolhub__dashboard-toolsmetric_container {
        width: 28vw;
        height: 17vh;
        border-radius: 1vh;
        margin-left: 2vh;
        margin-top: 2vh;
    }
    .toolhub__dashboard-toolsmetric_container h1 {
        font-size: 1.5vh;
        font-weight: 200;
        
    }
    
    .toolhub__dashboard-toolsmetric_container p {
        font-size: 3vh;
        font-family: var(--font-family);
    }
    .metric-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .piechartcontainer {
        width: 40vh;
        height: auto;
        padding-top: 8vh;
    }
    .toolhub__dashboard-toolsmetric_container-outerrim {
        flex-direction: column;
    }
    .toolhub__dashboard-missingtools_frequency-container h1{
        font-size: 15px;
    }
    .toolhub__leaderboard-details_container {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        align-items:center;
        justify-content: space-evenly;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }
    .toolhub__leaderboard-user_container {
        width: 50vh;
        height: 50vh;
    }
    .toolhub__leaderboard-user_container p{
        font-size: 2vh;
    }
    .user-icon img{
        height: 20vh;
        width: auto;
    }
    .toolhub__leaderboard-header h1 {
        font-size: 35px;
    }
    .toolhub__leaderboard-rankings_container {
        width: 50vh;
        margin-top: 2vh;
    }
    
}

